.app-wrapper {
  display: grid;
  width:1280px;
  margin: 0 auto;
  row-gap: 10px;
  column-gap: 10px;

  grid-template-areas:
  "header header header"
  "nav content content";

  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
}


.app-wrapper-content {
  grid-area: content ;
  background-color: #ff6da6;
}

